h1 {
  background-color: coral;}
 
ion-list {
  background-color: coral;
  font-size: 20px;
  line-height: 26px;
}

ion-item {
  background-color: aqua;
  font-size: 16px;
  line-height: 22px;

  color: #020202;

  margin: 0;
}

ion-buttom {
  background-color: #030202;
  text-decoration: none;
}

 ion-label {
   background-color: #06aed8;
 }

 ion-buttom {
   background-color:#555557
 }
 
 body{
   background: coral;
  
 }
  ion-text color {
    background-color: #a00404;
  }